* {margin: 0;
    padding: 0;
    }
    
    /* Header */
    
    header {
      width: 100%;
      height: 50px;
      background: #EDBB99;
    }
    .header {
      width: 1080px;
      height: 50px;
      margin: 0 auto;
    }
    
    header .header .contact {
      float: left;
      margin: 16px 7px 0 0;
      color: #fff;
    }
    
    header .header .contact img {
      margin-bottom: -3px;
      margin-right: 4px;
    

    }
    
    header .header .contact *,
    header .header .contact span{
      color: #fff;
      text-decoration: none;
      font-family: sans-serif;
      font-size: 10pt;
    }
    
    header .header .Social-Media ul {
      list-style: none;
    
    }
    
    header .header .Social-Media ul li {
      float: right;
      margin: 16px 7px 0 0;
    }
    
    header .header .contact a:hover,
    header .header .contact span:hover,
    header .header .Social-Media ul li:hover,
    footer div ul li a:hover,
    footer .copyright p a:hover {
      opacity: .7;
      transition: .5s all;
    }
    
    /* Content */
    
    .content {
      width: 1080px;
      margin: 0 auto;
    }
    
    .content .photo img {
      border: 10px solid #fff;
      border-radius: 50%;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      width: 100px;
      height: 100px;
      margin-top: 20px;
      margin-right: 20px;
      margin-left: 30px;
      float: left;
    }
    .content .text h1 {

        font-family: 'Consola';
        font-size: 30px;
        color: #555;
        
        position: relative;  
        left: 80px;
      top: 25px;
      right: 150px;
      
    }

    h1 span {
        background-color: #EDBB99;
    }
   
    h2 span {
        background-color: #EDBB99;
    }
   .skill h2 {
    font-family: 'Consola';
    font-size: 30px;
    color: #555;
    position: relative;  
    left: -418px;
    top: 238px;
    right: 250px;
   }
   .skill ul li {
    margin: 16px 7px 0 0;
    color: #555;
    float: right;
    width: 700px;
    position: relative;
    top: 106px;
    font-family: 'consola';
    font-size: 10pt;
    left: -30px;
    color: #555;
    display: list-item;
   }
    
    .content .info {
      float: left;
      width: 500px;
      position: relative;
      top: 13px;
      color: #555;
      left: 80px;
    
    }
    
    .content .info p {
      float: center;
      width: 500px;
      position: relative;
      top: 25px;
      font-family: 'consola';
      font-size: 10pt;
      color: #555;
    }
    
    .content .info p::first-letter {
      font-size: 15pt;
    }

     /* footer */
     footer{
         width: 100%;
         height: 50px;
         background: #EDBB99;
         
         position: absolute;
         bottom: 0;
     }

     footer div {
         width: 297px;
         margin: 0 auto;

     }

     footer div ul {
         list-style: none;
     }
     footer div ul li {

        display: inline;
        margin: 16px 7px 0 0;
     }
     footer div ul li a {
         color: #fff;
         font-family: 'consola';
         font-size: 11pt;
         text-decoration: none;
         

     }

     footer .copyright p {

        width: 213px;
        margin: 0 auto;
        color: #fff;
        font-family: 'consola';
        font-size: 9pt;
        margin-top: 5px;


     }

     footer .copyright p a {
         text-decoration: none;
         color: #fff;

     }