h1{

background: #ffffff;
color: moccasin;

    
}

div{

background: #ffffcc;

}

ul{

font-size: 20px;

}

.il{

    color: bisque;

border: #ffccff;

}

p{
width: 2000px;
height: 25px;
background: #ccccff;

}
.ol{

    background: cadetblue;
}
