h2{
    color: white;
text-align: center;
    

}

a{
    color:palevioletred;
}

p{
    color: peru;

    background-color: antiquewhite;

    text-align: left;
    
   

}

strong{ color:
palevioletred;
background-color: antiquewhite;

}

li{ color: purple;
}

h3{
    color:gray;
    
}

