
    h1 {
        color: darkgreen;
        font-family: sans-serif; 
        text-align: center;
    }
    h2 {
        color:rgb(19, 94, 19)
        font-family: sans-serif;
        
    }
    body {
        background-color :papayawhip;
        font-family: sans-serif;
        border: 5px solid black;
        padding: 10px;
    }

    p{
        padding: 10px;
        line-height: 150% ;
    } 

    
    img{content: center;}