
    h1 {
        color: gray;
        font-family: sans-serif; 
        text-align: center;
    }
    h2 {
        color:blue;
        font-family: sans-serif;
        
    }
    body {
        background-color :lightblue;
        font-family: sans-serif;
        border: 5px solid black;
        padding: 10px;
    }

    p{
        padding: 10px;
        line-height: 150% ;
    } 

    #abeer{
        color: bisque;
    }