body{
    
    background-color: rgba(f,0,0,1);
}
.boltpointshead{
text-align: left;
font-size: 20px;

}
li{
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}
.lipra{
    font-size: 15px;
    font-weight: bold;
    color: teal;
    display: inline;
}
h1{
text-align: center;
color: blue;
}
h2{
    text-align: center;
    color: blue;

}
#edu{
    padding-left: 50px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}
