
#s{
    color:black;
    font-weight: 500;
    font-size: 7px;
    height: 10;
    width: 50px;
    padding-left: 20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#up{
    font-size : 35px;
    font-weight: 800;  

}

#nam{ 
    color:#0B6B88;
    font-size : 90px;
    font-weight:1000px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 20px;
    color: black;
    Border-left :15px solid black;
    height: 500px;
    padding: 30px;
    margin-left: 50px;
    padding-top: 80px;
    
}


.btn{
border: 2px solid black;
font-size: medium;
width: 110px;
height: 40px;
}






header{
    align-items: baseline;
    padding-left: 20px;
    padding-top: 5px;
    color: black;

}

#ba{
    padding-left: 5px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 10px;
}

h1{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
   
}


#Optional{
    font-size : 2px;
    Color:rgb(14, 32, 90);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Date{ 
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size : 20px;
    height: 5px;
    /*border : 1px slod red; */
    border-left : 80px solid red;
    padding-left: 10px; 
    font-display:bold;
}
h2{
    color: #0B6B88;
    font-size : 15px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   Border-left :10px solid black;
   margin-left: 50px;
   height: 20px;
   padding-left: 10px;
}

#i{
width: 400px;
height: 600px;
padding-left:100px;
float:right;
margin-right: 50px;
}

h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left:50px;
    padding-bottom: -20px;
    color: black
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin-left:50px;
    text-align: justify;
}


.Con{
    text-decoration-color: black ;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
}
h3{

    padding-left: 100px ;
    margin-left: 50px;
    background-color: #fcfcfc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-left:  10px solid #0B6B88; 
    text-align: left;
    width: 80px;
    height: 90px;

}


#Space{ padding-left: 40px;

}
#ph{
    padding-left: 20px;
}

h4{
    
    margin-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    border-left:  20px solid black; 
    text-align: left;
    height: 5px;

}

.clicks{
    color: #707070;;
    font-size : 10px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   padding-left: 100px; 
   padding-right:5px; 
   

}